@using BlazorConcepts.Views.Bases

<ComponentStatesBase State="State">
    <Loading>
        <label> Loading ... </label>
    </Loading>
    <Content>
        @ContnetComponent
    </Content>
    <Error>
        <label> Error has occurred </label>
    </Error>
</ComponentStatesBase>